In [1]:
from datasets import load_dataset

# construct the sst-2 ICL examples

In [125]:
agnews_train = load_dataset("ag_news", split="train")

Found cached dataset json (/home/jianyu/.cache/huggingface/datasets/SetFit___json/SetFit--subj-693a635c625bebac/0.0.0/0f7e3662623656454fcd2b650f34e886a7db4b9104504885bd462096cc7a9f51)

In [127]:
subj_train_subj = []
subj_train_obj = []

In [128]:
subj_train[0]

{'text': "the tucks have a secret , they 're immortal . they",
 'label': 0,
 'label_text': 'objective'}

In [130]:
for snippet in subj_train:
    if snippet['label'] == 0:
        subj_train_obj.append(snippet["text"])
    else:
        subj_train_subj.append(snippet["text"])

In [164]:
# selected_great_example
import random
obj_sample = random.sample(subj_train_obj, 1)[0]
subj_sample = random.sample(subj_train_subj, 1)[0]

In [165]:
obj_sample

'the water game is a teen action drama following a group of graduating high school students as they embark on playing a spy vs . spy type game three weeks prior to graduation .'

In [166]:
prompt = f"Sentence: {subj_sample}\nViewpoint: subjective\n\nReview: {obj_sample}\nViewpoint: objective\n\nSentence: {{sentence_1}}\nViewpoint:"

In [167]:
prompt

'Sentence: the lightest , most breezy movie steven spielberg has made in more than a decade . and the positive change in tone here seems to have recharged him .\nViewpoint: subjective\n\nReview: the water game is a teen action drama following a group of graduating high school students as they embark on playing a spy vs . spy type game three weeks prior to graduation .\nViewpoint: objective\n\nSentence: {sentence_1}\nViewpoint:'

# Dataset

In [37]:
subj_dev = load_dataset("SetFit/subj", split="train")

Found cached dataset json (/home/jianyu/.cache/huggingface/datasets/SetFit___json/SetFit--subj-693a635c625bebac/0.0.0/0f7e3662623656454fcd2b650f34e886a7db4b9104504885bd462096cc7a9f51)

In [62]:
subj_dev[-10]

{'text': 'often shocking but ultimately worthwhile exploration of motherhood and desperate mothers .',
 'label': 1,
 'label_text': 'subjective'}

In [45]:
subj = []
obj = []

In [46]:
for data in subj_dev:
    if data['label'] == 1:
        subj.append(data['text'])
    else:
        obj.append(data['text'])

In [63]:
subj_test = './subj/test_100.tsv'

In [64]:
with open(subj_test, "r") as f:
    ans = f.readlines()

In [99]:
dev = [ans[0]]

In [100]:
subj_dev = random.sample(subj, 100)

In [101]:
obj_dev = random.sample(obj, 100)

In [102]:
for item in subj_dev:
    dev.append(f"{item}\t0\n")

In [103]:
for item in obj_dev:
    dev.append(f"{item}\t1\n")

In [108]:
with open("./subj/dev.tsv", "w") as f:
    for i in dev:
        f.write(i)

# AG's News Dataset

In [150]:
agnews_dev = load_dataset("ag_news", split="train")

Found cached dataset ag_news (/home/jianyu/.cache/huggingface/datasets/ag_news/default/0.0.0/bc2bcb40336ace1a0374767fc29bb0296cdaf8a6da7298436239c54d79180548)

In [111]:
agnews_dev[-10]

{'text': 'Barack Obama Gets  #36;1.9 Million Book Deal (AP) AP - U.S. Sen.-elect Barack Obama, whose 1995 book jumped onto best seller lists after his keynote address to the Democratic National Convention, has landed a three-book deal worth  #36;1.9 million.',
 'label': 0}

In [112]:
world = []
sports = []
business = []
tech = []

In [113]:
for item in agnews_dev:
    if item['label'] == 0:
        world.append(item['text'])
    elif item['label'] == 1:
        sports.append(item['text'])
    elif item['label'] == 2:
        business.append(item['text'])
    else:
        tech.append(item['text'])

In [114]:
world = random.sample(world, 50)

In [115]:
sports = random.sample(sports, 50)

In [116]:
business = random.sample(business, 50)

In [117]:
tech = random.sample(tech, 50)

In [118]:
dev[0]

'sentence\tlabel\n'

In [119]:
agnews_dev = [dev[0]]

In [120]:
for item in world:
    agnews_dev.append(f"{item}\t0\n")

In [121]:
for item in sports:
    agnews_dev.append(f"{item}\t1\n")

In [122]:
for item in business:
    agnews_dev.append(f"{item}\t2\n")

In [123]:
for item in tech:
    agnews_dev.append(f"{item}\t3\n")

In [124]:
with open("./agnews/dev.tsv", "w") as f:
    for item in agnews_dev:
        f.write(item)

In [143]:
new_world = []
new_sports = []
new_business = []
new_tech = []

In [144]:
whole_world = []
whole_sports = []
whole_business = []
whole_tech = []

In [149]:
agnews_dev[1]

'Security Firm Tribute to Ex-Gurkhas Killed by Baghdad Rockets The London-based security firm which employed four former Gurkhas killed in a rocket attack on their compound in Baghdad tonight paid tribute to them as brave and professional individuals.\t0\n'

In [151]:
for item in agnews_dev:
    if item['label'] == 0:
        whole_world.append(item['text'])
    elif item['label'] == 1:
        whole_sports.append(item['text'])
    elif item['label'] == 2:
        whole_business.append(item['text'])
    else:
        whole_tech.append(item['text'])

In [152]:
for item in whole_world:
    if item not in world:
        new_world.append(item)
        
for item in whole_sports:    
    if item not in sports:
        new_sports.append(item)

for item in whole_business:    
    if item not in business:
        new_business.append(item)
        
for item in whole_tech:    
    if item not in tech:
        new_tech.append(item)

In [161]:
world_sample = random.sample(new_world, 1)[0]
sports_sample = random.sample(new_sports, 1)[0]
business_sample = random.sample(new_business, 1)[0]
tech_sample = random.sample(new_tech, 1)[0]

In [162]:
prompt = f"Article: {world_sample}\nAnswer: world\n\nArticle: {sports_sample}\nAnswer: sports\n\nArticle: {business_sample}\nAnswer: business\n\nArticle: {tech_sample}\nAnswer: tech\n\nArticle: {{sentence_1}}\nAnswer:"

In [163]:
prompt

'Article: 30,000 More Sudanese Threaten to Cross to Chad -UN  GENEVA (Reuters) - Some 30,000 Sudanese, victims of fresh  attacks by Arab militia inside Darfur, have threatened to cross  into Chad, the U.N. refugee agency warned on Friday.\nAnswer: world\n\nArticle: Arsenal get \\$300m Emirates boost LONDON - In two years, Arsenal will play their home matches in the Emirates stadium. That is what their new stadium at Ashburton Grove will be called after the Premiership champions yesterday agreed to the \nAnswer: sports\n\nArticle: Maxim Joins Inventory Buildup Chorus Maxim (MXIM:Nasdaq - news - research) grew its first-quarter profit but said an inventory buildup hurt new bookings, a development bound to weigh on revenue in the quarter now underway.\nAnswer: business\n\nArticle: Britain seeks wave power Denmark catches the most wind for power. Japan absorbs the most sun. Now Britain wants to rule the waves. Wave and tidal stream machines are the latest exploratory technology \nAnswer: tech\n\nArticle: {sentence_1}\nAnswer:'